.loading-indicator {
    display: none;
}

.airports-table.loading i.loading-indicator {
    display: inline-block;
}

.airports-table.loading thead > tr:nth-child(2) > td > *:not(.loading-indicator) {
    display: none;
}
