.loading-indicator {
    display: none;
}

.fare-container {
    margin-top: 1.5em;
}

.fare-container.loading i.loading-indicator {
    display: inline-block;
}

.fare-container.loading .fare-panel {
    display: none;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
