<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Destination Finder Client</title>

    <link rel="stylesheet" type="text/css" th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" th:href="@{airports.css}"
          href="../static/airports.css"/>
</head>
<body>

    <div class="container">

        <div class="page-header">
            <h1>Welcome to Airports List</h1>
        </div>

        <table class="table table-striped table-bordered table-hover airports-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Coordinates</th>
                </tr>
                <tr>
                    <td colspan="4">
                        <i class="fa fa-spinner fa-pulse fa-fw loading-indicator"></i>
                        <div class="page-metadata-panel pull-left">
                        </div>
                        <div class="navigation-links-panel pull-right">
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody th:attr="data-endpoint-url=@{/api/rest/v1/airports?page=0&amp;size=25}"
                   data-endpoint-url="http://localhost:9000/travel/api/rest/v1/airports?page=0&amp;size=25">

            </tbody>
        </table>

        <template id="airport-rows-tmpl">
            {{#.}}
                <tr>
                    <td>{{ code }}</td>
                    <td>{{ name }}</td>
                    <td>{{ description }}</td>
                    <td>{{ #coordinates }}({{latitude}}, {{longitude}}){{ /coordinates }}</td>
                </tr>
            {{/.}}
        </template>

        <template id="page-metadata-tmpl">
            {{#.}}
            <strong>Page:</strong> {{ number }}
            <strong>Size:</strong> {{ size }}
            <strong>Total:</strong> {{ totalElements }}
            <strong>Number of Pages:</strong> {{ totalPages }}
            {{/.}}
        </template>

        <template id="navigation-links-tmpl">
            {{#.}}
            <a href="{{ first.href }}" class="btn {{^first}}disabled{{/first}}">First</a>
            <a href="{{ prev.href }}" class="btn {{^prev}}disabled{{/prev}}">Previous</a>
            <a href="{{ next.href }}" class="btn {{^next}}disabled{{/next}}">Next</a>
            <a href="{{ last.href }}" class="btn {{^last}}disabled{{/last}}">Last</a>
            {{/.}}
        </template>

        <script th:src="@{webjars/jquery/3.1.1/jquery.min.js}"
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
        <script th:src="@{webjars/mustachejs/2.2.1/mustache.min.js}"
                src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

        <script th:src="@{airports.js}"
                src="../static/airports.js"></script>
    </div>
</body>
</html>
