<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Destination Finder Client</title>

    <link rel="stylesheet" type="text/css" th:href="@{webjars/jquery-ui/1.12.1/jquery-ui.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" th:href="@{home.css}"
          href="../static/home.css"/>
</head>
<body>

    <div class="container">

        <div class="page-header">
            <h1>Welcome to Destination Finder Client</h1>
            <p class="lead">
                Select Origin and Destination by typing and selecting out of suggestion list. After selecting both, origin and destination, fare information will be automatically loaded.
                See list of Airports <a th:href="@{/airports}" href="./airports.html">here</a>.
            </p>
        </div>

        <form th:action="@{/api/rest/v1/fares/{originCode}/{destinationCode}}" action="http://localhost:9000/travel/api/rest/v1/fares/{originCode}/{destinationCode}"
                method="GET" class="form-inline">

            <div class="form-group">
                <label for="origin-input">Origin:</label>
                <input type="text" name="origin" id="origin-input" class="form-control" placeholder="Origin"
                       th:attr="data-endpoint-url=@{/api/rest/v1/airports}"
                       data-endpoint-url="http://localhost:9000/travel/api/rest/v1/airports" />
            </div>

            <div class="form-group">
                <label for="destination-input">Destination:</label>
                <input type="text" name="destination" id="destination-input" class="form-control" placeholder="Destination"
                       th:attr="data-endpoint-url=@{/api/rest/v1/airports}"
                       data-endpoint-url="http://localhost:9000/travel/api/rest/v1/airports" />
            </div>

            <div class="form-group">
                <label for="currency-input">Currency:</label>
                <select name="currency" class="form-control" id="currency-input">
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                </select>
            </div>

        </form>

        <div class="fare-container">
            <i class="fa fa-spinner fa-pulse fa-fw loading-indicator"></i>
            <div class="fare-panel-container"></div>
        </div>

        <template id="fare-tmpl">
            <div class="fare-panel panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Fare: <strong><code>{{ currency }} {{ amount }}</code></strong></h3>
                </div>
                <div class="panel-body">

                    {{ #origin }}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Origin:</h4>
                        </div>
                        <div class="panel-body">
                            {{ code }} - {{ name }}<br/>
                            {{ description }}<br/>
                            {{ #coordinates }}
                            ({{latitude}}, {{longitude}})
                            {{ /coordinates }}
                        </div>
                    </div>
                    {{ /origin }}

                    {{ #destination }}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4 class="panel-title">Destination:</h4>
                        </div>
                        <div class="panel-body">
                            {{ code }} - {{ name }}<br/>
                            {{ description }}<br/>
                            {{ #coordinates }}
                            ({{latitude}}, {{longitude}})
                            {{ /coordinates }}
                        </div>
                    </div>
                    {{ /destination }}
                </div>
            </div>
        </template>

        <script th:src="@{webjars/jquery/3.1.1/jquery.min.js}"
                src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
        <script th:src="@{webjars/jquery-ui/1.12.1/jquery-ui.min.js}"
                src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script th:src="@{webjars/mustachejs/2.2.1/mustache.min.js}"
                src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

        <script th:src="@{home.js}"
                src="../static/home.js"></script>
    </div>
</body>
</html>
